@charset "gb2312";
body{padding:0; margin:0;font-family: Arial,"宋体",monospace !important; font-size:14px;}
h1,h2,h3{font-family: "Microsoft YaHei",Arial,"黑体","宋体"}
h1{font-size:20px}
h2{font-size:16px}
h3{font-size:14px}
a{text-decoration:none; color:#333}
a:hover{color:#2179d1;text-decoration:underline}
image{border:none}

/*Frame*/
#top-container{height:25px; background:url(/root/images/top-bg.gif)}
#top-container .top,#header,#navi,#center,#footer .box{width:1000px;margin:0 auto;}
#top-container .top ul{ margin:0; padding:6px 3px 0 0}
#top-container .top ul li{ list-style:none; margin:0 5px; padding:0; float:left; line-height:12px;}
#top-container .top a{ color:#666; font-size:12px;}
#top-container .top .first a{padding-right:13px;background:url(/root/images/mini_arrow.png) right 1px no-repeat;}
#header{background:#fff; overflow:hidden;}
#navi{height:35px;background:#fff;font-family:"Microsoft YaHei",Arial,"宋体"; font-size:14px}
#center{width:998px; height:auto; overflow:hidden; background-color:#fff; border-left:1px #ccc solid;border-right:1px #ccc solid;border-bottom:1px #ccc solid;}
#footer{clear:both; background-color:#edf2f8; height:80px; width:100%; margin-top:40px; border-top:1px solid #ccc}

/*Header*/
#header .logo a{display:block;padding:10px 0; float:left}
#header .title{ display:block; float:left; color:#666; font-size:12px; margin-left:10px; line-height:50px;}
#header .ad{ float:right; width:728px; height:90px; margin-top:13px;}
.search {margin:0; float:right; margin-top:10px;}
#searchform {padding:0;}
#searchform label {display:none;}
#searchform input {width:175px; height:22px; line-height:22px; vertical-align:middle; padding:0 5px;}
#searchform button,#searchform #searchsubmit {width:60px; text-align:center; height:26px; line-height:26px; background:#2083F2; margin-left:-4px; border:none; color:#fff; cursor:pointer; vertical-align:middle; text-shadow:1px 1px #333;}
.search button:hover {background:#333;}

/*Navi*/
#navi .main{width:100%; height:35px;float:left; background:url(/root/images/menu.gif);}

/*NAVI LIST*/
#navi_list {line-height:35px;list-style-type:none; margin:0; padding:0;}
#navi_list a {display:block;width:90px;text-align:center;color:#fff; text-decoration:none}
#navi_list a:visited {color:#fff;}
#navi_list li {float: left;width:90px;background:url(/root/images/menu-li-bg.gif);}
#navi_list .last{background:none}
#navi_list li a:hover {background:#1873de;}
#navi_list li ul {line-height:27px;list-style-type: none;text-align:left;left:-999em;width:180px;position:absolute;z-index: 10; padding-left:0; margin:0;}
#navi_list li ul li {float:left;width:180px;background:#2489fb;line-height:30px;}
#navi_list li ul a {display: block;width:180px;width:156px;text-align:left;padding-left:24px;}
#navi_list li ul a:link {color:#fff;}
#navi_list li ul a:visited {color:#fff;}
#navi_list li ul a:hover {color:#F3F3F3;text-decoration:none;background:#0099cc;}
#navi_list li:hover ul {left: auto;}
#navi_list li.sfhover ul {left: auto;}

/*Search*/
#navi .search_bar .form{margin:10px 25px 0 0; padding:0; border:1px #333 solid; background-color:#fff; height:23px; float:right; width:230px;}
#navi .search_bar .form .q{border:none; margin:0; padding:0; height:23px; line-height:23px; width:207px;*width:190px;background:#fff; float:left;display:block;}
#navi .search_bar .form .icon{width:17px; height:17px;background-image:url(/root/images/search_icon.jpg); margin:3px; float:right;display:block;}

/*center*/
#main{clear:both;float:left;width:637px; padding:15px;}

/*Slider*/
#hot5_big{float:left;width:640px;height:250px;position:relative; background:#fff; overflow:hidden;margin:10px; _margin:10px 5px;}
#hot5_big .ltop{ position:absolute; left:0; top:0; width:5px; height:5px;background:url(/root/images/ltop.png) no-repeat 0 0;_background-image:url(/root/images/ltop.gif); display:block; z-index:10}
#hot5_big .a_bigImg img{position:absolute;display:none;}
#hot5_big .thumb{position:absolute;right:5px; bottom:0; height:60px}
#hot5_big .thumb li{ margin:10px 5px 0; float:left; display:inline; position:relative}
#hot5_big .thumb a { display:block}
#hot5_big .thumb a img{ border:1px solid #999; width:38px; height:38px}
#hot5_big .thumb li.on{ margin-top:4px}
#hot5_big .thumb li.on a img{height:50px; width:50px}
#hot5_big .thumb li.on a em{ background:url(/root/images/big5_li_cur.png); display:block; position:absolute; height:60px; width:56px; left:0; top:-4px}
.changeDiv{position:absolute}
.changeDiv h3{position:absolute;left:0;bottom:0;width:630px;height:60px;line-height:24px;background:rgba(0,0,0,0.8); background:#000\9;filter:alpha(opacity=80); padding-left:10px;}
.changeDiv h3 a{display:inline-block;color:#fff; font-size:16px; line-height:1.2em; margin-top:5px; font-family:'微软雅黑',"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif}
.changeDiv h3 em{ color:#999; display:block; font-size:12px; font-style:normal; width:350px; line-height:16px;}

/*Main*/
.crumbs{font-size:12px;padding:5px 0 15px 0; color:#ccc}

#main #index-list{width:100%; clear:both; margin:0 0 25px 0;}
#main #index-half-list,#main #index-half-list-right{width:310px; float:left; margin:0 0 25px 0;}
#main #index-half-list-right{float:right}
#main .list h2,#main .img-list h2,#main .index_latest h2{padding:0;font-size:14px; display:block; margin:0; line-height:30px;border-top:2px solid #458FCE; border-bottom:1px solid #DBECEC}
#main .list h2 a,#main .img-list h2 a{ color:#458FCE;}
#main .list .special{ height:61px;padding:10px 0; overflow:hidden; border-bottom:1px dotted #ccc;}
#main .list .special .img{float:left; width:80px; height:60px;}
#main .list .special .text{float:left;margin-left:10px; width:220px; font-size:12px; color:#8c8c8c}
#main .list .special .text .title{ font-size:12px; font-weight:bold; clear:both; color:#3B639F}
#main .list .special .text span{display:block; margin:5px 0 0 0; padding:0;}
#main .list ul{margin:10px 0 0 0; padding:0; overflow:hidden; clear:both;}
#main .list li{width:100%;float:left;height:22px;line-height:22px;color:#9da9b4;font:12px/1.5 Arial,"宋体";text-indent:11px; background:url(/root/images/dot.png) 0 10px no-repeat;overflow:hidden;}

/*壁纸推荐*/
#main .img-list ul{overflow:hidden; margin:0; padding:10px 0}
#main .img-list ul li{float:left; width:75px; display:block; border:1px #ccc solid; padding:2px; margin:0 10px 0 0;}
#main .img-list ul li img{width:75px}

.top_ad{text-align:center; margin:10px auto;}

/*侧边*/
#sidebar{float:left;width:300px; padding:15px; margin:0; *padding:15px 5px;}
#sidebar .sidebar_rss a{display:block;width:277px;height:50px; margin:0 auto; background:url(/root/images/rss.png)}
#sidebar .hot_click,#sidebar .hot_recommended,#sidebar .wallpaper-sidebar,#sidebar .iphone-new,#main .recommend,#main .article_more,#main .comment{ background:#f5f9fa; padding:15px; margin-top:15px; border-radius:5px; overflow:hidden}
#sidebar h2,#main .recommend h2,#main .article_more h2,#main .comment h2{display:block; padding:0 0 5px 0; margin:0;font-size:16px; color:#333; border-bottom:1px #CDD7E3 solid;}
#sidebar .hot_click ul,#sidebar .hot_recommended ul,#sidebar .wallpaper-sidebar ul,#main .article_more ul{list-style:none; padding:0; margin:15px 0 0 0;}
#sidebar .hot_click ul li{display:block;padding:0; margin:10px 0;clear:both; height:70px; overflow:hidden;}
#sidebar .hot_click ul li .icon{border:#eee 1px solid; padding:2px; width:80px; height:60px; margin:2px 8px 2px 2px; float:left;border-radius:3px; font-size:14px; background-position:2px 2px; background-repeat:no-repeat}
#sidebar .hot_click ul li .icon a{display:block; margin:41px 0 0 0; text-align:center; padding:2px; height:15px; background-color:#3399ff; opacity:0.7; color:#fff; line-height:15px; font-size:12px;}
#sidebar .iphone-new{ color:#919191; font-size:12px;}
#sidebar .iphone-new ul{display:block; list-style:none; margin:10px 0 0 0; padding:0;}
#sidebar .iphone-new ul li{ display:block; margin:10px 0 0 0; padding:0}
#sidebar .iphone-new ul li a{ margin:5px; font-weight:bold; color:red}

#sidebar .hot_click ul li .icon img{width:80px; border:0}
#sidebar .hot_click ul li h2 a{font-style:normal; margin:5px; display:block;}
#sidebar .hot_click ul li h2 a:hover{color:#222}
#sidebar .hot_click ul li .date{color:#ccc; display:block;}
#sidebar .hot_click ul li span{display:block; margin-top:5px;font-size:12px; line-height:18px;}

#sidebar .hot_recommended ul li,#main .article_more ul li{padding:0 0 0 20px;background:url(/root/images/dot.png) 0 10px no-repeat; background-repeat:no-repeat; line-height:14px; margin:5px 0 0 0; display:block}
#sidebar .hot_recommended ul li a,#main .article_more ul li a{padding:0; margin:0;font-size:12px; line-height:18px;}

#sidebar .sidebar_ad{border:none; margin:15px 0;}
#sidebar .sidebar_ad_tao{height:400px; padding:5px 0 0 5px}
#sidebar .wallpaper-sidebar ul li{float:left; width:75px; display:block; border:1px #ccc solid; padding:2px}
#sidebar .wallpaper-sidebar ul .first-row{margin-bottom:15px}
#sidebar .wallpaper-sidebar ul .mid{margin:0 12px;_margin:0 6px;}
#sidebar .wallpaper-sidebar ul .mid-first-row{margin:0 12px;_margin:0 6px; margin-bottom:15px;}
#sidebar .wallpaper-sidebar ul li img{width:75px}

#footer .box{margin:0 auto; text-align:center; padding-top:10px; font-size:12px;}
#footer .box p{color:#666;}

/*2nd Page*/
#main .index_latest ul{ display:block; margin:0; padding:0;}
#main .index_latest ul li{display:block;list-style:none; padding:15px 0; overflow:hidden; border-bottom:1px solid #e9e9e9;}
#main .index_latest ul li .icon{display:block; border:#eee 1px solid; padding:2px; width:80px; height:60px; margin:2px 8px 2px 2px; float:left;border-radius:3px;}
#main .index_latest ul li .icon:hover{ border-color:#F33;}
#main .index_latest ul li .icon img{width:80px; border:0}
#main .index_latest ul li .title{font-family: "Microsoft YaHei",Arial,"黑体","宋体";margin:0;padding:0;font-weight:bold;display:block;font-size:16px; line-height:25px;}
#main .index_latest ul li span{font-size:12px;color:#7e7e7e; display:block;}
#main .index_latest ul li p{font-size:12px;line-height:25px; color:#444; margin:5px 0 10px 0; display:block}
#main .index_latest ul li .more{font-size:12px;clear:both;display:block; margin:5px 0 10px 0;float:right;padding:2px 15px; line-height:18px; background:#b5d3ec; color:#28508E;}
#main .index_latest ul li .more:hover{ background:#258cff; color:#fff}
.pager{height:25px; text-align:center; font-size:12px; margin:20px; clear:both}
.page_list{ display:inline-block;*display:inline; *zoom:1;}
.page_list span{float:left;border:1px #ccc solid; padding:0 8px; display:block; height:23px; margin:0 5px; color:#ccc; line-height:23px;}
.page_list a{padding:4px 8px; border:1px #ccc solid; margin:0 5px; display:block; float:left}
.page_list li{ list-style:none}

/*Article*/
#main .article{color:#444;}
#main .article h1{ text-align:center; display:block; clear:both; margin:0; padding:0; line-height:46px; border-top:2px #003795 solid; }
#main .article img{ max-width:560px;border:1px #CCC solid; padding:2px;}
#main .article h2{color:#333;}
#main .article ol{display:block;}
#main .article li{ line-height:24px; font-size:14px;  display:block; margin:0;padding:0;}
#main .article .info{font-size:12px;text-align:center; color:#ccc; display:block}
#main .article .brief{text-indent:0; display:block; border:#ddd 1px solid; padding:5px; border-radius:5px; margin:10px 0;}
#main .article p{font-size: 14px;line-height: 1.8em;text-indent: 2em; margin:5px 0;}
#share_plugin{overflow:hidden;margin: 10px 0 10px 120px;}
#main .article .text_link{margin:15px 0;}
#main .article .body{ clear:both}
.article .body a{color:#397cbe}
#main .article .body a:hover{text-decoration:underline}
#main .google_ad{margin:15px auto; width:300px;}
#main .tags{font-size:12px;color:#ccc;clear:both; padding:15px 0 0 0;}
#main .tags a{margin:2px 6px; color:#256EB1}
#main .articleLink{font-size:12px; margin:20px auto; text-align:center}
#main .prenext{ clear:both;font-size:12px; margin:12px 0; padding:12px 0; line-height:24px;}
#main .prenext span{display:block; color:#666}
#main .prenext span a{color:#256eb1}
#main .recommend ul{margin:15px auto 0 auto; padding:0; display:block; list-style:none;}
#main .recommend ul li{padding:9px; margin:0;display:block; width:100px; float:left; border:1px #f5f5f5 solid;}
#main .recommend ul li:hover{border:#CDD7E3 1px solid; border-radius:3px;display:block}
#main .recommend ul li a{display:block; text-align:center;font-size:12px}
#main .article_body_ad,#article_body_ad{width:250px; height:250px; margin:0 auto;}
#main .article_body_ad_2{width:580px; height:90px; margin:10px auto;}

/*正文阿里妈妈商品手工推广位*/
.alimama_manual_ad{width:500px; text-align:center; margin:15px auto; padding:10px; border:1px solid #c1c1c1; border-radius:5px; background:#f5f9fa}
.alimama_manual_ad .ali_icon,.ali_link{width:80px;}
.alimama_manual_ad .ali_title a{color:#444; font-size:18px;font-family: 'Microsoft YaHei', Arial, 黑体, 宋体; font-weight:bold}
.alimama_manual_ad .ali_link a{background:#b87337; padding:10px; color:#fff; line-height:36px;}

.social{width:90%;border:#CDD7E3 1px solid; border-radius:4px; padding:10px; overflow:hidden; background:#f5f9fa}
.social_text,.social_links{line-height:22px; padding:0; margin:0; font-size:12px; float:left; height:22px;}
/*评论*/
#main .comment ul{margin:15px auto 15px auto; padding:0; display:block; list-style:none; font-size:12px;}
#main .comment ul li{margin:5px;display:block}
#main .comment ul li input{margin:0;padding:0;height:18px;}
#main .comment ul li #comment{width:100%}
#main .comment ul li #refresh{cursor:pointer; vertical-align:middle}
#main .comment ul .function_line{display:block; height:30px;}
#main .comment ul li #comment_info{float:right;line-height:27px;}
#main .comment ul li button{float:right;border:0;cursor:pointer;color:#FFF6AD;width:90px;height:27px; line-height:27px; background:url(/root/images/comment_submit.png)}

#all_comments li{border-bottom:1px #ddd solid; padding:5px;border-radius:3px;margin:5px 0;}
#all_comments li span{display:block}
#all_comments li:hover{background:#ffffcc}
#all_comments li .floor{font-size:12px; color:#333; float:left}
#all_comments li .name{font-size:14px; padding-left:10px; float:left}
#all_comments li .time{clear:both;font-size:12px;color:#ccc; line-height:20px;}
#all_comments li .text{font-size:14px;line-height:20px;}

/*正文*/
.code-demo li{text-indent:1em; padding:10px 0; background-color:#F6F6F6; color:#4E4E4E; display:block;}
.img-middle{ text-align:center;color:#999}
pre{font-family:'Courier New' , Monospace; font-size:12px; width:99%; overflow:auto; margin:0 0 1em 0; background:#F7F7F7; }
pre ol, pre ol li, pre ol li span{margin:0 0; padding:0; border:none}
pre a, pre a:hover{background:none; border:none; padding:0; margin:0}
pre ol{list-style:decimal; background:#F7F7F7; margin:0px 0px 1px 3em !important; padding:5px 0; color:#5C5C5C; border-left:3px solid #146B00;}
pre ol li{list-style:decimal-leading-zero; list-style-position:outside !important; color:#5C5C5C; padding:0 3px 0 10px !important; margin:0 !important; line-height:1.3em}
pre ol li.alt{color:inherit}
pre ol li span{color:black; background-color:inherit}
pre .comment, pre .comments{color:#008200; background-color:inherit}
pre .string{color:blue; background-color:inherit}
pre .keyword{color:#069; font-weight:bold; background-color:inherit}
pre .preprocessor{color:gray; background-color:inherit}
pre .dp-xml .cdata{color:#ff1493}
pre .dp-xml .tag, pre .dp-xml .tag-name{color:#069; font-weight:bold}
pre .dp-xml .attribute{color:red}
pre .dp-xml .attribute-value{color:blue}
pre .dp-sql .func{color:#ff1493}
pre .dp-sql .op{color:#808080}
pre .dp-rb .symbol{color:#a70}
pre .dp-rb .variable{color:#a70; font-weight:bold}
pre .dp-py .builtins{color:#ff1493}
pre .dp-py .magicmethods{color:#808080}
pre .dp-py .exceptions{color:brown}
pre .dp-py .types{color:brown; font-style:italic}
pre .dp-py .commonlibs{color:#8A2BE2; font-style:italic}
pre .dp-j .annotation{color:#646464}
pre .dp-j .number{color:#C00000}
pre .dp-delphi .number{color:blue}
pre .dp-delphi .directive{color:#008284}
pre .dp-delphi .vars{color:#000}
pre .dp-css .value{color:black}
pre .dp-css .important{color:red}
pre .dp-c .vars{color:#d00}
pre .dp-cpp .datatypes{color:#2E8B57; font-weight:bold}